{layout name="layout:app" /}

<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <div class="list-group">
                            <a href="{:url('Admin/index')}" class="list-group-item ">个人信息</a>
                            <a href="{:url('Setting/index')}" class="list-group-item ">网站设置</a>
                            <a href="{:url('Admin/pwd')}" class="list-group-item active">修改密码</a>
                            <a href="{:url('Setting/other')}" class="list-group-item">其他</a>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-header bg-light">
                                修改密码
                            </div>
                            
                            <form action="" method="post" >
                                <div class="card-body">
                                    <div class="row mt-5">
                                        <div class="col-md-4 mb-4">
                                            <div>管理员密码修改</div>
                                            <div class="text-muted small">修改密码请注意请注意</div>
                                        </div>

                                        
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">旧密码</label>
                                                            <input type="password" name="o_password" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">新密码</label>
                                                            <input type="password" name="n_password" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">确认新密码</label>
                                                            <input type="password" name="n_password_2" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                    </div>
                                </div>

                                <div class="card-footer bg-light text-right">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>