{layout name="layout/app"}

<div class="site-content">
	<div class="mdl-grid site-max-width">
		<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
			<div class="mdl-card__title">
				<h1 class="mdl-card__title-text">关于本站</h1>
			</div>
			<div class="mdl-card__media">
				<img class="article-image" src="__PUBLIC__/index/imgs/about.jpg" border="0" alt="About">
			</div>
			<div class="mdl-grid site-copy">
				<div class="mdl-cell mdl-cell--12-col"><h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">本站声明</h3>
					<div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
						{$result}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>