{layout name="layout:app" /}
<link href="__PUBLIC__/ueditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="__PUBLIC__/ueditor/third-party/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/umeditor.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-light">
                                <div style="float:left;">
		                            修改博客
		                        </div>
		                        
		                        <div class="text-right" style="float:right;">
		                            <a href="{:url('blog/index')}">
		                                <button type="button" class="btn btn-primary ">
		                                    <i class="fa fa-align-center"></i> &nbsp; 返  &nbsp; 回
		                                </button>
		                            </a>
		                        </div>
                            </div>
							<form action="" method="post" name="myform" enctype="multipart/form-data">
								<input type="hidden" name="id" value="{$blog.id}">
								<div class="card-body">
	                                <div class="row mt-4">
	                                	<div class="col-md-8">
											<div class="form-group">
	                                            <label for="single-select">选择分类</label>
	                                            <select id="single-select" class="form-control" name="cid">
	                                            	{volist name="cates" id ="cate"}
	                                                <option value="{$cate.id}" {if condition="$cate.id eq $blog.cid"}selected="selected"{/if}>{$cate.catename}</option>
	                                                {/volist}
	                                            </select>
	                                        </div>
                                        </div>
                                    </div>

	                                <div class="row mt-4">
	                                    <div class="col-md-8">
	                                        <div class="form-group">
	                                            <label for="required-input" class="require">标题</label>
	                                            <input id="required-input" name="title" class="form-control" value="{$blog.title}">
	                                        </div>
	                                    </div>
	                                </div>

	                                <div class="row mt-4">
	                                    <div class="col-md-8">
	                                        <div class="form-group">
	                                            <label for="help-text-input" class="form-control-label">关键词</label>
	                                            <input id="help-text-input" name="keywords" class="form-control" placeholder="" value="{$blog.keywords}">
	                                            <small class="form-text">关键词用来检索同类文章 词与词之间用空格隔开</small>
	                                        </div>
	                                    </div>
	                                </div>

	                                <div class="row mt-4">
	                                    <div class="col-md-8">
	                                        <div class="form-group">
	                                            <label for="help-text-input" class="form-control-label">标题图</label>
	                                            <input id="help-text-input" name="img" class="form-control" placeholder="" type="file">
	                                            <img src="{$blog.img}" width="400px" alt="">
	                                        </div>
	                                    </div>
	                                </div>

	                                <div class="row mt-4">
	                                    <div class="col-md-8">
	                                        <div class="form-group">
	                                            <label for="help-text-input" class="form-control-label require" >内容</label>
	                                            <script type="text/plain" id="myEditor" name="content" style="width:1000px;height:240px;">{$blog.content}</script>
	                                        </div>
	                                    </div>
	                                </div>

	                                
	                                <div class="row mt-4">
		                                <div class="col-md-3">
	                                        <div class="toggle-switch" data-ts-color="primary">
	                                            <label for="ts2" class="ts-label">是否开启</label>
	                                            <input id="ts2" type="checkbox" name="is_open"hidden="hidden"  {if condition="$blog.is_open eq 'on'" /}checked="checked"{/if} >
	                                            <label for="ts2" class="ts-helper"></label>
	                                        </div>
	                                    </div>
									</div>
									<div class="my-4">
										
		                            	<button type="submit" class="btn btn-block btn-primary">添 &nbsp; &nbsp;加</button>
		                            	
	                            		<button type="button" onclick="history.go(-1)" class="btn btn-block btn-secondary">返 &nbsp; &nbsp;回</button>
		                            </div>
	                            </div>


							</form>
                            
                        </div>
                    </div>
                </div>

               
            </div>
        </div>
<script type="text/javascript">
    //实例化编辑器
    var um = UM.getEditor('myEditor');
    um.addListener('focus',function(){
        $('#focush2').html('')
    });
    
</script>