{layout name="layout:app" /}

<div class="content">
    <div class="container-fluid">


        <div class="row ">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-light">
                        <div style="float:left;">
                            博客列表
                        </div>
                    
                        <div class="text-right" style="float:right;">
                            <a href="{:url('blog/add')}">
                                <button type="button" class="btn btn-primary ">
                                    <i class="fa fa-align-center"></i> &nbsp; 添加博客
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>分类ID</th>
                                    <th>用户名</th>
                                    <th>标题</th>
                                    <th>标题图</th>
                                    <th width="7%">关键词</th>
                                    <th width="10%">点击</th>
                                    <th width="10%">描述</th>
                                    <th width="10%">创建时间</th>
                                    <th width="10%">修改时间</th>
                                    <th width="7%">是否开启</th>
                                    <th width="10%">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="blogs" id="blog"}
                                    <tr>
                                        <td>{$blog.id}</td>
                                        <td class="text-nowrap">{$blog.cid}</td>
                                        <td>{$blog.uid}</td>
                                        <td>{$blog.img}</td>
                                        <td>{$blog.title}</td>
                                        <td>{$blog.keywords}</td>
                                        <td>{$blog.click}</td>
                                        <td>{$blog.des}</td>
                                        <td>{$blog.c_time|date="Y-m-d H:i:s", ###}</td>
                                        <td>{$blog.u_time|date="Y-m-d H:i:s", ###}</td>
                                        <td><button class="btn btn-rounded btn-danger btn-sm">{if condition="$blog.is_open eq 'on' " /}开启{else /}未开启 {/if}</button></td>
                                        <td>
                                            <a href="{:url('edit', array('id'=>$blog.id))}"><button class="btn  btn-sm btn-primary">修改</button></a>
                                            <a href="{:url('del', array('id'=>$blog.id))}" onclick="return confirm('确定是否删除该信息？')"><button class="btn btn-sm btn-secondary">删除</button></a>
                                        </td>
                                    </tr>
                                    {/volist}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="text-center">
                    <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                </div>
            </div>
            
        </div>
    </div>
</div>