<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Portfolio Template Demo</title>
    <meta name="description" content="Demo of Material design portfolio template"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;amp;lang=en" rel="stylesheet">
    <link href="__PUBLIC__/index/css/fonts_c.css" rel="stylesheet">
    <link href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" rel="stylesheet">
    <link href="__PUBLIC__/index/css/main.css" rel="stylesheet">
</head>
<body id="top">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        
        {include file="layout/header"}
        <main class="mdl-layout__content">
            {__CONTENT__}
            {include file="layout/footer"}
            }
        </main>
        <script src="__PUBLIC__/index/js/material.min.js" defer></script>
    </div>
</body>
</html>